body{font-family:Arial;background:#fdf2f8;margin:0}
.container{max-width:500px;margin:20px auto;background:#fff;padding:20px;border-radius:20px;box-shadow:0 4px 20px rgba(0,0,0,0.1)}
.logo{width:100%;border-radius:15px}
h1{text-align:center;color:#831843;margin:10px 0 0}
.sub{text-align:center;color:#be185d;margin:5px 0 15px}
.btn-whats{display:block;background:#25D366;color:#fff;text-align:center;padding:14px;border-radius:50px;text-decoration:none;font-weight:bold;margin-bottom:15px}
h2{text-align:center;color:#831843}
input, select{width:100%;padding:14px;margin:8px 0;border:2px solid #f9a8d4;border-radius:10px;box-sizing:border-box;font-size:15px}
select{height:55px!important;background:#fff;cursor:pointer}
.row{display:flex;gap:10px}
button[type=submit]{width:100%;padding:16px;background:linear-gradient(90deg,#ec4899,#f59e0b);color:#fff;border:none;border-radius:50px;font-weight:bold;font-size:16px;margin-top:10px;cursor:pointer}
ul{list-style:none;padding:0}
li{background:#fdf2f8;padding:10px;border-radius:10px;margin:5px 0;display:flex;justify-content:space-between;align-items:center}
footer{text-align:center;color:#999;margin-top:20px;font-size:13px}
